[submodule "deps/j2root"]
	path = deps/j2root
	url = https://github.com/drewkenjo/j2root.git
  ignore = dirty
[submodule "deps/clasqaDB"]
	path = deps/clasqaDB
	url = https://github.com/JeffersonLab/clasqaDB.git
  ignore = dirty
[submodule "deps/brufit"]
	path = deps/brufit
	url = https://github.com/c-dilks/brufit.git
