.*.sw*
.sw*
*.exe
*.o
*.so
src/*.pcm
*.root
*.png
*.pdf
!docDiagram.pdf
.~lock*
src/DiSpinDict.*
outz
outroot
outroot.*
diskim
*.slurm
*.condor
logfiles/*
valgrind.log
uu/params.dat
fitOutput.txt
outz_*
spinroot
spinroot_*
spinroot.*
ortho*.tex
eventTable.txt
prediction.dat
mcroot
accidentals
prooflog
*.log
myb2b*
*.old
pairs.list
tmp/*
*.tex
tags
files.list
bruspin.*
catTree*.bak
